

// COLORS
$bg-gray: #f5f5f5;
$bg-lightblue: #4eb2f7;
$bg-violet: #c049f8;
$bg-blue: #817eff;
$bg-red: #f74770;
$bg-white: #fff;
$bg-lightorange: #fff3f0;

$lightgray: #fbfbfb;


// TEXT COLORS

$orange: #fc6744;
$gray: #6b6b6b;
$orange2: #ff5c36;
$black: #000;
