@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.mt-145 {
  margin-top: 145px;
}

.mt-54 {
  margin-top: 54px;
}

.mt-110 {
  margin-top: 110px;
}

body {
  font-family: "Open Sans", sans-serif;
}

span {
  color: #fc6744;
}

h1 {
  font-size: 50px;
  line-height: 46px;
  color: #6b6b6b;
}

.form-title {
  font-size: 20px;
  line-height: 25px;
  color: #6b6b6b;
}

.section-title {
  font-size: 50px;
  line-height: 46px;
  color: #000;
}

.work-process .btn {
  font-size: 16px;
  line-height: 25px;
  color: #000;
}

.team .front-caption .description {
  font-size: 17px;
  line-height: 20px;
  color: #000;
}
.team .back-caption .description {
  font-size: 17px;
  line-height: 20px;
  color: #fc6744;
}

.intro-section .form .btn-primary {
  padding: 18px 30px 18px 45px;
  border: none;
  background-color: #ff5c36;
}
.intro-section .form .btn-primary svg {
  margin-left: 8px;
}

.btn-light {
  width: 230px;
  background-color: #fff;
}

.work-process .card-inner:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-light:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  background-color: #fbfbfb;
}

.services .icon:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.services h3::after {
  transition: 1s;
}
.services h3:hover::after {
  width: 50%;
}

.team .flip-card-inner {
  transition: transform 0.7s;
}
.team .flip-card-inner .flip-card-back {
  visibility: hidden;
}
.team .flip-team-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.team .flip-team-card:hover .flip-card-inner .flip-card-front {
  visibility: hidden;
}
.team .flip-team-card:hover .flip-card-inner .flip-card-back {
  visibility: visible;
  transform: rotateY(180deg);
}

.carousel .carousel-control-prev:hover {
  background-color: #ff5c36;
}
.carousel .carousel-control-prev:hover .carousel-control-prev-icon {
  filter: invert(0);
}
.carousel .carousel-control-next:hover {
  background-color: #ff5c36;
}
.carousel .carousel-control-next:hover .carousel-control-next-icon {
  filter: invert(0);
}

.navbar {
  padding: 80px 0;
  background-color: #f5f5f5;
}
.navbar-toggler {
  padding: 0;
  border: none;
}

.intro-section {
  background-color: #f5f5f5;
}
.intro-section .form {
  margin-top: 85px;
}
.intro-section .form form {
  padding: 15px 39px 0;
}
.intro-section .form form .form-control {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  background-color: transparent;
}

.work-process .card-inner {
  height: 264px;
}
.work-process .bg-lightblue {
  background-color: #4eb2f7;
}
.work-process .bg-violet {
  background-color: #c049f8;
}
.work-process .bg-blue {
  background-color: #817eff;
}
.work-process .bg-red {
  background-color: #f74770;
}

.featured-work {
  background-color: #f5f5f5;
}

.block {
  height: 359px;
  background-color: #ff5c36;
}

.services .icon {
  width: 105px;
  height: 93px;
  background-color: #fbfbfb;
}
.services .icon img {
  width: 62px;
  height: 62px;
}
.services h3::after {
  content: "";
  width: 10%;
  height: 3px;
  background-color: #ff5c36;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.team {
  background-color: #f5f5f5;
}
.team .flip-team-card {
  height: 445px;
}
.team .flip-team-card .flip-card-inner {
  width: 100%;
  height: 100%;
}
.team .flip-team-card .flip-card-inner .flip-card-front {
  height: 100%;
  width: 100%;
  background-color: #ff5c36;
}
.team .flip-team-card .flip-card-inner .flip-card-front .front-caption {
  width: 263px;
  background-color: #fff;
}
.team .flip-team-card .flip-card-inner .flip-card-back {
  height: 100%;
  width: 100%;
  background-color: #fff3f0;
}
.team .flip-team-card .flip-card-inner .flip-card-back .skills {
  width: 160px;
}
.team .flip-team-card .flip-card-inner .flip-card-back .skills .progress {
  height: 4px;
  background-color: #6b6b6b;
}
.team .flip-team-card .flip-card-inner .flip-card-back .skills .progress-bar {
  background-color: #ff5c36;
}

.carousel .carousel-indicators .active {
  background-color: #ff5c36;
}
.carousel .carousel-item .card .card-body {
  padding: 95px 50px 37px;
}
.carousel .carousel-item .card .avatar {
  width: 100px;
  height: 100px;
  background-color: #fff;
  z-index: 100;
}

.carousel-control-prev {
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.carousel-control-prev .carousel-control-prev-icon {
  height: 20px;
}

.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.carousel-control-next .carousel-control-next-icon {
  height: 20px;
}/*# sourceMappingURL=index.css.map */